@font-face {
    font-family: retroFont;
    src: url('assets/Retro\ Gaming.ttf');
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

#newGameBtn {

    position: relative;
    top: 75px;
    color: black;
    height: 10%;
    width: 10%;
    background: white;
    font-family: retroFont;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    padding: 50px, 20px, 50px, 20px
}

.inactive {

    position: relative;
    color: black;
    height: 5%;
    width: 5%;
    background: white;
    font-family: retroFont;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid black;
    padding: 20px, 20px, 20px, 20px

}

.active {
    position: relative;
    color: white;
    height: 5%;
    width: 5%;
    background: black;
    font-family: retroFont;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid black;
    padding: 20px, 20px, 20px, 20px
}


